Source: adaptation-xiaomi-begonia
Maintainer: Halhadus
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/begonia-linux/adaptation-xiaomi-begonia
Vcs-Git: https://github.com/begonia-linux/adaptation-xiaomi-begonia.git

Package: adaptation-xiaomi-begonia
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone-dual-sim,
         adaptation-xiaomi-begonia-configs,
         adaptation-xiaomi-begonia-android,
         droidian-camera,
         mobile-power-saver,
         python3-evdev
Description: adapatation-xiaomi-begonia- meta
 begonia api29 adaptation metapackage

Package: adaptation-xiaomi-begonia-configs
Architecture: all
Depends: ${misc:Depends},
Description: begonia's specific adaptation configs

Package: adaptation-xiaomi-begonia-android
Architecture: all
Depends: ${misc:Depends},
Description: begonia's specific adaptation for Android. This will disable many Android binaries, remove me if something breaks.
